@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 0.71px #CBCBCB;
    margin-top: 30px;
}

.navbar {
    display: flex;
    margin-right: 40%;
    gap: 40px;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 500;
    color: #606060;
}

.buttons {
    margin-top: 5px;
    display: flex;
    gap: 30px;
}

.firstbutton {
    color: #606060;
    border: none;
    background: none;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 500;
}

.secondbutton {
    color: white;
    background-color: #6C5FBC;
    border-radius: 12.68px;
    width: 85px;
    height: 45px;
    border: none;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 500;
}
.block-1{
    margin-top: 10%;
    display: flex;
  
}
p{
    font-size: 15px;
    font-family: "Inter";
    color: #606060;
    font-weight: 500;
}
h1{
  font-size: 54px;
     font-family: "Poppins";
     font-weight: 600;
     margin: 0;
     
}
.span1{
        color: #6C5FBC;
}
.herobutt{
    display: flex;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 20px;

    
}
.getstart{
    color: white;
    background-color: #6C5FBC;
    border-radius: 12px;
    border: none;
    width: 156px;
    height: 59px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
}
.gopro{
    color: #6C5FBC;
    background-color: white;
    border-color: #6C5FBC;
width: 110px;
height: 59px;
font-family: "Poppins";
font-weight: 400;
font-size: 15px;
border-radius: 12px;
}
.icons{
display: flex;
gap: 10px;
}
h4{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}
.icon{
    margin-top: 20px;
}
.icon1{
    margin-top: 32px;
}
.icon2{
    margin-top: 32px;
}
.hero {
    position: relative;
    background-image: url(./img/Ellipse\ 2038.png);
    background-repeat: no-repeat;
    width: 100%; /* Ширина контейнера занимает всю доступную ширину */
    height: auto; /* Высота контейнера подстраивается под содержимое */
   margin-left: 25%;

}
.img1{
 margin-left: -23px;
 margin-top: 8px;
}
.img2{
    position: absolute;
    left: 26%;
    top: -13%;
    
}
.img4{
    position: absolute;
    top: -14%;
   left: 100%;
}
.img3{
    position: absolute;
    top: 10%;
    right: -1%;
}
.img1, .img2, .img3, .img4 {
    max-width: 100%; /* Максимальная ширина изображений равна ширине контейнера */
    height: auto; /* Высота изображений подстраивается под соотношение сторон */
}
.img5{
    background-color: white;
    position:absolute;
    right: 78%;
    bottom: 9%;
    border-radius: 16px;
    box-shadow: 2px 2px 23px 2px gray;
}
.img6{position: absolute;
   left: -30%;
   bottom: 1%;
}
.block-2{
 background-color: #6C5FBC;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 70px;
  }
  h2{
    color: white;
    font-family: sans-serif;
    font-size: 42px;
    text-align: center;

  }
  .block-2-p{
    text-align: center;
    color: #C5BFED;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 500;
  }
.block-3{
    display: flex;
    justify-content: center;
 gap: 15%;
 margin-top: 90px;
 border-bottom: #CBCBCB 1px solid;
 width: 100%;
 padding-bottom: 80px;
}
.vector{
    margin-bottom: -70px;
}
.menu{
    background-color: white;
    box-shadow: 2px 2px 23px 2px gray;
    width: 395px;
    height: 296px;
    border-radius: 30px;
}
.category{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    margin: 50px;
}
.block-4{
    margin-top: 70px;
    border-bottom: #CBCBCB 1px solid;
    width: 100%;
    padding-bottom: 80px;
}
.block-5{
    border-bottom: #CBCBCB 1px solid;
    width: 100%;
    padding-bottom: 80px;
}
.block-6{
    display: flex;
    border-bottom: #CBCBCB 1px solid;
    width: 100%;
   
}
.review-2{
    background-color: white;
    width: 500px;
    height: 300px;
    box-shadow: 10px 3px 100px 40px #6b5fbc33;

 border-radius: 15px;
}
.review-3{
    width: 480px;
    height: 200px;
    background-color: white;
    box-shadow: 10px 3px 100px 40px #6b5fbc33;
 
    border-radius: 15px;
}
.review{
    display: flex;

   gap: 20px;
}
.subscribe{
    background-image: url(./img/subscribe.png);
    background-repeat: no-repeat;
    height: 270px;
    width: 1200px;
    background-color: #6C5FBC;
    border-radius: 40px;
    margin: auto;
    position: relative;
    margin-top: 13%;
    margin-bottom: 14%;
}
.footer{
    width: 100%;
    height: 345px;
    background-color: #EAEAEA;
}
.footer-menu{
    color: #999999;
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 70px;
}
.footer-main{
    display: flex;
    justify-content: center;
    gap: 50%;
    padding-top: 100px;
    border-bottom: #CBCBCB 1px solid;
    width: 100%;
    padding-bottom: 30px;
}